<h1>ToDo Pin</h1>
<h3>To help you get your tasks done at the end of each day</h3>

<h4>Enter your name to pin your to-dos:</h4>

<form action="names/new" method="post">
  <label for="username">Name:</label>
  <input type="text" name="username"><br>
  <input type="submit" value="Save">
</form>
